.item{
width:500px;
color:#353935;
font-size: 20;
margin: 0 auto;
}

.itemName{
  font-weight: bold;
  padding: 20px;
}

.line{
    border: 1px solid #f4f4f4f4;
}

.deleteButton{
  float: right;
  padding:12 20px;
  border: none;
  background-color: #f7ce18;
  color:white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}